numpy<2.0
pathlib
scipy
matplotlib
astropy>=5.1
astroquery>=0.4.8.dev9474  # 2024-09-24 pinned for Gaia column capitalization issue
lightkurve>=2.4
numba
scikit-learn>=1.0
uncertainties
emcee
corner
h5py

# Astropy affiliated lib for interacting with virtual observatory protocols
pyvo

# Libs for extinction maps and filters
dustmaps            # Green18joss - easy to use extinction maps (esp Bayestar)
dust_extinction     # Gordon24joss - more extinction curves than dustapprox (specifically G23)
dustapprox          # Fouesneau+2022:dustapprox - extinction curves+more & support for literature conversion coefficients 

# For jupyter notebook support
ipykernel
ipympl
jupyter

# Aladin-lite sky viewer widget
ipyaladin
regions

# We don't have a code dependency on pandas but it's useful to have for data wrangler support in VSCode
pandas

# For interacting with the LOP sky regions via their MOC/HEALPix sky tessalations 
mocpy

# For NewEra stellar grids
f90nml

# dEB characterisation support library
git+https://github.com/SteveOv/deblib
